    {HOOK:KURE-PAGE_BOTTOM}</div>
    <div id="footer">
      powered by <a class="footer" href="http://github.com/skoh-fley/kure" target="_blank">kure</a> / <a class="footer" href="?admin">admin</a>{HOOK:KURE-BOTTOM}
    </div>
  </body>
</html>
